// Подключение миксины =================================================================================================
@import 'base/mixins';
// Подключение миксины =================================================================================================
	
// Подключение шрифтов =================================================================================================
@import 'fonts';
// Подключение шрифтов =================================================================================================

// Иконочные шрифты ====================================================================================================
@import 'base/icons';
// Иконочные шрифты ====================================================================================================

// Импорты =============================================================================================================
@import 'base/ibg';
@import 'base/colors';
// Импорты =============================================================================================================

// Переменные ==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$font-size: 16px;
// Переменные ==========================================================================================================

// Обнуление, общие параметры ==========================================================================================
@import 'base/null';
@import 'base/ui';

body {
	font-family: 'Gilroy';
	font-size: $font-size;
	font-weight: 400;
	color: $mainColorText;
	overflow-x: hidden;
}

body * {
	//border: 1px solid red;
}
// Обнуление, общие параметры ==========================================================================================

// Оболочка ============================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&_about {
		.page {
			padding-top: 75px;
		}
		.header, .about__text, .about__title, .advantages {
			opacity: 1;
			right: 0;
			left: 0;
		}
	}
	&_service {
		.page {
			padding: 60px 0;
		}
		.header, .service__title, .service__text, .service .tabs {
			opacity: 1;
			right: 0;
			left: 0;
		}
	}
	&_works {
		.page {
			padding-top: 60px;
		}
		.header, .works__title {
			opacity: 1;
			right: 0;
			left: 0;
		}
	}
	&_contacts {
		.page {
			padding: 60px 0;
		}
		.header {
			opacity: 1;
			right: 0;
			left: 0;
		}
	}

}

// Основная сетка ======================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	//overflow-x: hidden;
  }

.page {
	flex: 1 1 auto;
}


// Подключаем блоки сайта =================================================================================================
@import 'blocks/header';
@import 'blocks/page';
@import 'blocks/footer';

// Подключаем блоки сайта =================================================================================================
    
    
//background: url("@img/profile.jpg") 0 0 no-repeat